<h1><%= @rep.name %></h1>

<% unless @rep.photo_url.nil? %>
  <%= image_tag @rep.photo_url, class: 'representative-image'%>
<% end %>

<h3> Party: </h3>
<%= @rep.party %>
<h3> Address: </h3>
<p>
  <%= @rep.address_street %>, 
  <%= @rep.address_city %>, 
  <%= @rep.address_state %>
  <%= @rep.address_zip %>
</p>
